.table {
    width: 100%;

    &--striped {
        .table__row {
            &:nth-child(even) {
                background: $color-light-grey;
            }
        }
    }

    &__cell {
        font-size: 14px;
        line-height: 22px;
        padding: 4px 0px 10px 0px;
        color: $color-default;

        &:first-child {
            font-weight: 600;
            color: $color-dark-blue;
            padding-left: 20px;
        }

        &:last-child {
            width: 10%;
            padding-right: 20px;
        }

        &--header {
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
            padding: 0px 0px 10px 0px;
        }
    }
}
